@charset "utf-8";
/* CSS Document */



        body{

                

                background-attachment: fixed;

                color:whitesmoke;

                text-align:center;

                font-family:"Poiret One";               background-color: black

                }

https://github.com/tenorioray/tenorioray.github.io/blob/master/images/profiledesign.jpg

        img{

        margin-left:200px;


                margin-right: 200px;

        }

        

        h1,

        h3  {

             2color: azure;  }

https://github.com/tenorioray/tenorioray.github.io/blob/master/images/profiledesign.jpg?raw=true        

        h1{ 

                text-align: center;

        }

        h3

        { 

 margin: auto;

                text-align: justify;

                font-family: 'Josefin Sans', sans-serif;

                /*margin-left: 200px;

                margin-right: 200px;*/

        }

        nav {

                color: white;

                text-align:center;

        }

        

        a {

                color: white;

                text-decoration: none;

        }

        

        a:hover {

                color: yellow;

                text-decoration: underline;

        }

        