@charset "utf-8";
/* CSS Document */

body{
		background-color:black;
		
			color:whitesmoke;
		text-align:center;
	 

			font-family:"Poiret One"; 
	}
	img {
		
		border-style:hidden;
	
	}
		footer{
		color: white;
	}
	
	a {
		color: white;
		text-decoration: none;
	}
	
	a:hover {
		color: yellow;
		text-decoration: underline;
	}
	img {
 margin-left: 200px;
margin-right:200px; 
	}	