@charset "utf-8";
/* CSS Document */

14
        body{
15
                /*background-color:black;*/
16
​
17
                /*background-image: url(upfeathers.png);*/
18
                background-attachment: fixed;
19
                color:whitesmoke;
20
                text-align:center;              font-family:"Poiret One"; 
21
        }
22
        
23
        #bottom{
24
                background-color:black;
25
                padding:20px;
26
        }
27
        
28
        #bottom img{
29
                margin-top:-300px;
30
        }
31
        
32
        #top{
33
                min-height:300px;
34
        }
35
l       
36
        h1,h2
37
        {
38
                background-color: black;
39
                color: white;
40
                text-align: center;
41
                
42
        }
43
        /*h1{
44
                text-align: left;
45
        }*/
46
        
47
        
48
        
49
        a {
50
                color: white;
51
                text-decoration: none;
52
        }
53
        
54
        a:hover {
55
                color: yellow;
56
                text-decoration: underline;
57
        }
58
        
59
        a:visited{
60
                color:aqua;
61
        }
62
        footer {
63
                color: black;
